In [21]:
# Step 1 - Import Pandas to create DataFrame 
import pandas as pd

# Step 2 - create list of lists to hold the 4 rows of data  
data = [
            ["child1", "0","2015-05-05","BANG","B1"],
            ["child2", "1","2020-12-12","WOTH","T1"],
            ["child3", "2","2000-01-01","MOTH","X2"],
            ["child4", "7","2017-12-09","WIRI","W1"],
        ]
 
# Step 3 - Create the pandas DataFrame 
df = pd.DataFrame(data, columns=['Child_ID', 'Gender', 'DOB', 'Ethnicity','Place']) 
df["DOB"] = pd.to_datetime(df["DOB"], format="%Y-%m-%d")
#Do some slices
df_gen_7 = df[df["Gender"]=="7"]
df_gen_7
df_gen_not_7 = df[df["Gender"]!="7"]
df_gen_not_7
df_eth_bang = df[df["Ethnicity"]=="BANG"]
df_eth_bang
df_eth_not_bang = df[df["Ethnicity"]!="BANG"]
df_eth_not_bang

  Child_ID Gender        DOB Ethnicity Place
1   child2      1 2020-12-12      WOTH    T1
2   child3      2 2000-01-01      MOTH    X2
3   child4      7 2017-12-09      WIRI    W1

In [ ]:
spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
filling = []
combinations = {}

for i in spreads():
    print( spr)

In [16]:
corporation = [{'Name':'Will LP',
                'Salary':'10000',
                'Job Title':'Employee'},
                {'Name':'Annie LP',
                'Salary':'15000',
                'Job Title':'CEO'},
                {'Name':'Naiomi LP',
                'Salary':'90000',
                'Job Title':'VP'},
                {'Name':'Luke V',
                'Salary':'45000',
                'Job Title':'Teach Lead'},
                {'Name':'Matt K',
                'Salary':'30000',
                'Job Title':'Comms'},
                {'Name':'Hannah K',
                'Salary':'38000',
                'Job Title':'HR'},]

corp_df = pd.DataFrame(corporation)


corp_df['Date Started'] = ['05/12/1993', '01/01/2000', '01/01/2020', '23/12/1989', '10/10/2010', '17/12/2021']

corp_df['Date Started'] = pd.to_datetime(corp_df['Date Started'], format='%d/%m/%Y')

corp_df["Salary"]=corp_df["Salary"].astype("int")

mask = corp_df["Salary"]>40000
over_40k = corp_df[mask]
over_40k
df_ceo = corp_df[corp_df["Job Title"]=="CEO"]
df_ceo
#Use contains to find substring in 
nepo_df = corp_df[corp_df["Name"].str.contains(" LP")]
nepo_df
some_jobs = corp_df[corp_df["Job Title"].isin(["Employee","CEO"])]
some_jobs

       Name  Salary Job Title Date Started
0   Will LP   10000  Employee   1993-12-05
1  Annie LP   15000       CEO   2000-01-01

In [15]:
# Step 1 - Import Pandas to create DataFrame 
import pandas as pd

spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
filling = []
combinations = {}

mixins = []
sandwhiches = {}

for spread in spreads:
    for topping in toppings:
        mixins.append(F"{spread} and {topping}")
    sandwhiches[spread] = mixins
    mixins=[]

combos_df = pd.DataFrame(sandwhiches)
combos_df["Topping"]=toppings
#combos_df.set_index(toppings,inplace=True)
combos_df

                butter               jam               peanut butter   Topping
0       butter and ham       jam and ham       peanut butter and ham       ham
1    butter and cheese    jam and cheese    peanut butter and cheese    cheese
2  butter and sardines  jam and sardines  peanut butter and sardines  sardines

In [22]:
import itertools
import pandas as pd

# Given lists
spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines','coleslaw']

# Generate all possible combinations of the lists spreads and toppings
combinations = list(itertools.product(spreads, toppings))

# Create a DataFrame with the desired format
df = pd.DataFrame(index=toppings, columns=spreads)

# Fill in the DataFrame with the combinations
for spread, topping in combinations:
    df.at[topping, spread] = f"{spread} and {topping}"

# Print the DataFrame
df

                       butter               jam               peanut butter
ham            butter and ham       jam and ham       peanut butter and ham
cheese      butter and cheese    jam and cheese    peanut butter and cheese
sardines  butter and sardines  jam and sardines  peanut butter and sardines
coleslaw  butter and coleslaw  jam and coleslaw  peanut butter and coleslaw